@font-face {
  font-family: "Lato-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Lato-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Lato-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../assets/fonts/Lato-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Lato-Light";
  font-weight: lighter;
  src: url("../assets/fonts/Lato-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Lato-Italic";
  font-weight: normal;
  font-style: italic;
  src: url("../assets/fonts/Lato-Italic.ttf") format("ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Lato";
}

a {
  text-decoration: none;
  color: black;
}

.container {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.img-logo {
  padding: 0.5em;
  margin-left: 1.2em;
  height: auto;
  width: 64px;
}

.navbar-mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger-container {
  padding: 2em;
}

.burger-nav {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1.1em;
  border-top: 0.2em solid #64c29e;
  border-bottom: 0.2em solid #64c29e;
}

.burger-nav:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid #64c29e;
}

.navbar-nav {
  display: none;
  list-style-type: none;
  text-transform: uppercase;
  font-family: "Lato", "regular";
  margin: 0;
  line-height: 2em;
  letter-spacing: 0.3em;
  padding: 1em;
  text-align: center;
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em;
    margin: 0 1em;
    background-color: transparent;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 3em;
            column-gap: 3em;
    font-size: 0.8em;
  }
  .navbar-nav.mobile {
    display: none;
  }
  .navbar-mobile-menu {
    display: none;
  }
  .img-logo {
    margin: 0;
    padding: 0;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-item:hover {
    cursor: pointer;
    color: #64c29e;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    width: 100%;
    font-size: 1.2vw;
    margin: 0;
  }
  .navbar-nav.navbar-item {
    width: 3000px;
  }
  .img-logo {
    height: auto;
    width: 94px;
    margin: 15px 0;
  }
}

@media screen and (min-width: 1900px) {
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    width: 100%;
    font-size: 1vw;
  }
  .navbar-nav.navbar-item {
    width: 3000px;
  }
  .navbar-bg {
    height: 100%;
  }
  .img-logo {
    height: auto;
    width: 170px;
    margin: 15px 0;
  }
}

.footer {
  position: relative;
  background-color: #f7f7f7;
  padding: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  color: #c1c3c4;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
  padding: 1em;
}

.social-container img {
  width: 50px;
}

.contact-container {
  text-align: center;
  line-height: 0;
  line-break: loose;
  padding: 1em;
}

.contact-container:first-child {
  font-weight: bold;
  font-size: 1.75em;
}

.contact-subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 21px;
  font-style: italic;
  line-height: 1.286;
}

.contact-subcontainer img {
  width: 75px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .social-container {
    -ms-grid-column: 2;
    grid-column: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-container {
    -ms-grid-column: 1;
    grid-column: 1;
    display: block;
    text-align: left;
    line-height: 0.2;
    font-size: 0.75em;
  }
  .contact-subcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.75em;
    -ms-grid-column: 3;
    grid-column: 3;
    margin: 0 1em;
    -webkit-column-gap: 1em;
            column-gap: 1em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    bottom: 0;
    grid-auto-flow: column;
    font-size: 1vw;
  }
  .social-container {
    -ms-grid-column: 2;
    grid-column: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-container img {
    width: 35px;
  }
  .contact-subcontainer img {
    width: 55px;
    height: 36px;
  }
}

@media screen and (min-width: 1900px) {
  .social-container img {
    width: 60px;
  }
  .contact-subcontainer img {
    width: 55px;
    height: 36px;
  }
}

.breadcrumbs-container {
  position: relative;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .breadcrumbs-container {
    padding: 1em;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .breadcrumbs-container {
    margin-left: 2em;
  }
}

.breadcrumbs :nth-child(2) {
  font-weight: bold;
}

ul.breadcrumbs {
  margin: 0;
  padding: 10px 16px;
  list-style: none;
}

ul.breadcrumbs li {
  display: inline;
  font-size: 18px;
  color: #848789;
}

ul.breadcrumbs li + li:before {
  color: #848789;
  content: "/\00a0";
}

ul.breadcrumbs li a {
  color: #64c29e;
  text-decoration: none;
}

ul.breadcrumbs li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hero {
  position: relative;
}

.navbar-bg {
  position: relative;
  width: 100%;
}

.hero-page-name {
  position: absolute;
  text-align: center;
  padding: 1em;
  z-index: 9999;
  color: #f7f7f7;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 7vw;
  letter-spacing: 7px;
}

@media screen and (min-width: 768px) {
  .hero-page-name {
    font-size: 5vw;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 1200px) {
  .hero-page-name {
    font-size: 4vw;
    margin: 0;
  }
}

.subscribe-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: auto;
}

.subscribe-block p {
  text-align: center;
  font-size: 2.2em;
  font-weight: normal;
  font-style: italic;
  color: #848789;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .subscribe-block {
    padding: 1.5em;
  }
  .subscribe-block p {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-block {
    padding: 1.5em 0;
  }
}

.subscribe-block-img img {
  width: 125px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .subscribe-block-img img {
    margin-bottom: 5px;
    width: 100px;
  }
}

.subscribe-block-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  row-gap: 15px;
}

.subscribe-block-form input {
  border: 1px solid gainsboro;
  padding: 1.25em 0.55em;
  font-size: 1.75em;
  margin-top: 25px;
}

.subscribe-block-form input::-webkit-input-placeholder {
  color: #c1c3c4;
}

.subscribe-block-form input:-ms-input-placeholder {
  color: #c1c3c4;
}

.subscribe-block-form input::-ms-input-placeholder {
  color: #c1c3c4;
}

.subscribe-block-form input::placeholder {
  color: #c1c3c4;
}

.subscribe-block-form button {
  display: block;
  border: none;
  background-color: #64c29e;
  color: #f7f7f7;
  padding: 1em 0;
  font-size: 2.2em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .subscribe-block-form {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.75em;
    margin-top: 20px;
  }
  .subscribe-block-form input,
  .subscribe-block-form button {
    padding: 0.75em 1.75em;
    margin: 10px;
  }
  .subscribe-block-form input {
    width: 80%;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .subscribe-block-form button {
    -ms-grid-column-align: start;
        justify-self: start;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-block-form {
    width: 100%;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .subscribe-block-form input {
    width: 100%;
  }
}

.text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 25px 0;
  background-color: #f7f7f7;
}

.text-block img {
  margin: 2px 0;
}

.text-block h3 {
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  word-spacing: 2px;
  color: #353738;
  margin-top: 25px;
}

.text-block p {
  color: #848789;
  line-height: 1.85;
  padding: 0 10px;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .text-block {
    font-size: 1.35vw;
  }
  .text-block h3 {
    font-size: 1.35vw;
  }
}

.grid-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid-item {
  text-align: center;
  padding: 20px;
}

.grid-item h3 {
  letter-spacing: 2px;
  color: #353738;
}

.grid-item p {
  color: #848789;
  line-height: 1.8;
}

@media screen and (min-width: 768px) {
  .grid-item {
    padding: 0;
    margin-top: 50px;
  }
  .grid-item p {
    padding: 0 20px;
    text-align: justify;
  }
}

@media screen and (min-width: 1200px) {
  .grid-item {
    font-size: 1.35vw;
  }
  .grid-item :first-child {
    width: auto;
    height: auto;
  }
}

.grid-sub-img {
  display: none;
}

.grid-bg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.grid-bg :first-child {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (min-width: 768px) {
  .grid-bg :first-child {
    height: 100%;
  }
}

.grid-bg-logo {
  position: absolute;
  z-index: 99999;
}

#grid-item-large {
  display: none;
}

@media screen and (min-width: 768px) {
  .grid-block-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  .grid-sub-img {
    position: relative;
    display: block;
    width: 100%;
  }
  .reversed-grid {
    direction: rtl;
  }
}

@media screen and (min-width: 1200px) {
  .grid-block-container {
    display: -ms-grid;
    display: grid;
    width: 100%;
  }
  .grid-block-container.larger {
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  #grid-item-large {
    display: inline;
  }
  #grid-item-large img {
    max-width: 100%;
    max-height: 100%;
  }
}

.swiper-wrapper {
  padding: 10px;
}

.swiper-wrapper h3 {
  font-size: 18px;
  line-height: 1.2;
  word-spacing: 2px;
  letter-spacing: 1.5px;
  color: #353738;
}

.swiper-wrapper h3 p {
  font-weight: lighter;
  color: #848789;
  padding: 0;
  margin: 0;
}

.swiper-pagination {
  background: #f7f7f7;
  padding: 20px;
}

.swiper-pagination-bullet {
  cursor: pointer;
  height: 10px !important;
  width: 10px !important;
  background-color: #f7f7f7 !important;
  border: 1px solid #a9afb3 !important;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.swiper-pagination-bullet-active {
  background-color: #a9afb3 !important;
}

.swiper-slide {
  background: #f7f7f7;
  padding: 40px 20px;
  text-align: center;
}

.swiper-slide p {
  font-size: 20px;
  font-style: italic;
  color: #848789;
  line-height: 1.5;
}

.swiper {
  width: 100%;
}

.store-block-large {
  display: none;
  position: relative;
  width: 100%;
}

.store-block-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .store-block-mobile {
    display: none;
  }
}

.store-block-item {
  width: 100%;
}

.store-block-item img {
  max-width: 100%;
}

.store-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.store-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 999999;
  color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
}

.store-icon p {
  margin: 0;
  padding: 10px;
  letter-spacing: 3px;
}

.bg-overlay {
  position: absolute;
  background-color: #61aa91;
  width: 100%;
  max-width: 100%;
  height: 100%;
  opacity: 80%;
}

.store-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  background-color: #282f35;
  padding: 2em 1em;
}

.store-button-container button {
  width: 100%;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: transparent;
  color: #f7f7f7;
  border: 1px solid #f7f7f7;
  padding: 15px 20px;
}

@media screen and (min-width: 768px) {
  .store-button-container {
    padding: 4em 1em;
  }
  .store-button-container button {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .store-button-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .store-block-large {
    width: 100%;
  }
  .store-block-large,
  .store-block-large-item,
  .subitem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    max-width: 100%;
  }
  .store-img {
    max-width: 100%;
  }
  .store-block-large {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subitem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subitem div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #two-img-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 1200px) {
  .store-block-large {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

.sidebar-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 30px;
    width: 100%;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .about-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .sidebar-container {
    display: block;
    padding-right: 30px;
  }
  .sidebar-text {
    margin-top: 3em;
  }
  .sidebar-container,
  .sidebar-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .sidebar-container h3,
  .sidebar-text h3 {
    padding: 0.5em;
    letter-spacing: 5px;
    margin-bottom: 0;
  }
  .sidebar-container p,
  .sidebar-text p {
    color: #848789;
  }
  .sidebar-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
  .sidebar-text p {
    line-height: 2;
    padding: 0 20px;
  }
  .accordion-btn {
    position: relative;
    color: #64c29e;
    width: 100%;
    max-height: 100%;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: none;
    border-bottom: 1px solid #64c29e;
    background-color: #f7f7f7;
  }
  .accordion-btn:after {
    content: "\002B";
    position: absolute;
    font-size: 20px;
    right: 0;
    padding: 0px 20px;
  }
  .active:after {
    content: "\2212";
    position: absolute;
  }
  .accordion-text {
    padding: 0 18px;
    background-color: #f7f7f7;
    display: none;
    overflow: hidden;
    text-align: left;
    line-height: 1.5;
  }
}

.main-content {
  padding: 10px;
}

.main-content p {
  line-height: 1.5;
  color: #848789;
}

.main-content img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .main-content {
    padding: 0;
  }
}

.main-content-heading h1 {
  font-size: 20px;
  letter-spacing: 5px;
}

.main-content-heading p {
  font-size: 24px;
  color: #b7b9ba;
  line-height: 1.4;
}

#img-caption {
  text-align: center;
  border-bottom: 1px solid #848789;
  color: #848789;
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */