.main-content {
    padding: 5px 10px;
    max-width: 100%;
    margin: 0;
    h1,
    h2,
    h3,
    p {
        padding: 0 10px;
    }
    p {
        line-height: 1.5;
        color: $font-gray;
        font-size: 14px;
        margin: 10px 0;
    }
    img,
    figure {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    @media screen and (min-width: 768px) {
        padding: 0;
    }
}

.main-content-heading {
    h1 {
        font-size: 20px;
        line-height: 1.2;
        margin: 0;
        letter-spacing: 1px;
        word-spacing: 1px;
    }
    p {
        font-size: 18px;
        color: $font-lightgray;
    }
    @media screen and (min-width: 768px) {
        font-size: 24px;
    }
}

#img-caption {
    text-align: center;
    border-bottom: 1px solid $font-gray;
    color: $font-gray;
    padding: 5px;
}