.hero {
    position: relative;
}

.navbar-bg {
    position: relative;
    width: 100%;
    height: auto;
}

.hero-tablet,
.hero-large {
    display: none;
}

.hero-page-name {
    position: absolute;
    text-align: center;
    padding: 1em 0;
    z-index: 9999;
    color: $white;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 9vw;
    letter-spacing: 5px;
    line-height: 1.2;
    @media screen and (min-width: 768px) {
        font-size: 5vw;
        margin-bottom: 1em;
    }
    @media screen and (min-width: 1200px) {
        font-size: 4vw;
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .hero-tablet {
        display: block;
    }
    .hero-mobile,
    .hero-large {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .hero-large {
        display: block;
    }
    .hero-mobile,
    .hero-tablet {
        display: none;
    }
}